.pagination {
  margin: 48px 0 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 16px;
}
.pagination__title {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;

  & span:first-child {
    font-family: Gilroy;
    font-size: 50px;
    font-weight: 500;
    line-height: 52.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  & span:nth-child(2) {
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 500;
    line-height: 32.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: end;
}
.left__arrow,
.right__arrow {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  background-position: center;
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  &:hover {
    cursor: pointer;
  }
}
.left__arrow {
  background-image: url("../../assets/images/leftarrow.png");
}
.right__arrow {
  background-image: url("../../assets/images/rightarrow.png");
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
@media (max-width: 560px) {
  .pagination {
    flex-wrap: wrap;
  }
  .pagination__title {
    & span:first-child {
      font-size: 32px;
      line-height: 33.6px;
    }
    & span:nth-child(2) {
      font-size: 16px;
      line-height: 21.6px;
    }
  }
  .numbers {
    flex-wrap: wrap;
  }
  .left__arrow,
  .right__arrow {
    width: 32px;
    height: 32px;
  }
}
