header {
  margin-bottom: 120px;
}
.section__three {
  margin-top: 83px;
}
.section__four {
  margin: 100px 0;
}
.section__six{
  margin-top: 150px;
}
@media (max-width: 560px) {
  header {
    margin-bottom: 53px;
  }
}
