.title_container {
  width: 346px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.title {
  font-family: Gilroy;
  font-size: 50px;
  font-weight: 500;
  line-height: 52.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #3a3d40;
}
.description {
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #3a3d40;
}
.cards {
  width: 882px;
  height: 560px;
  margin: auto;
  margin-top: 48px !important;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.cards_left {
  width: 429px;
  height: 560px;
  border-radius: 10px;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.cards_heading {
  width: 405px;
  height: 150px;
  top: 254px;
  left: 291px;
  border-radius: 10px;
  background: #ffffff;
  margin: 12px 12px 0 12px;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 29px;
}

.text_container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 405px;
  border-radius: 10px;
}

.cards_head {
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.cards_descriptionn {
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-right: 50px;
}

.cards_right {
  width: 429px;
  border-radius: 10px;
  background: #f9f9f9;
}

.text_container_right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px;
  margin-left: 36px;
  width: 405px;
  border-radius: 10px;
}
.eccoImage {
  width: 69px;
  height: 110px;
  margin-left: 36px;
}
.items {
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.items_container {
  margin: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.img_description {
  display: flex;
  align-items: start;
  padding: 34px 24px 34px 24px;
  border-radius: 32px;
  background: #ffffff;
  gap: 8px;
}

.like {
  width: 20px;
  height: 20px;
}

.numbers {
  display: none;
}

@media screen and (max-width: 560px) {
  .title {
    font-size: 32px;
    line-height: 33.6px;
  }
  .description {
    font-size: 20px;
    line-height: 21.6px;
  }
  .cards {
    width: 100%;
    height: auto;
  }
  .cards_left {
    width: 100%;
    height: auto;
  }
  .cards_right {
    width: 100%;
    height: auto;
  }
  .cards_heading {
    width: auto;
  }
  .numbers {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
  }
  .left__arrow,
  .right__arrow {
    width: 42px;
    height: 42px;
    border-radius: 4px;
    background-position: center;
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    &:hover {
      cursor: pointer;
    }
  }
  .left__arrow {
    background-image: url("../../assets/images/leftarrow.png");
  }
  .right__arrow {
    background-image: url("../../assets/images/rightarrow.png");
  }
  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
