.title_container{
    width: 346px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.title{
font-family: Gilroy;
font-size: 50px;
font-weight: 500;
line-height: 52.5px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #3A3D40;
}
.description{
font-family: Gilroy;
font-size: 24px;
font-weight: 500;
line-height: 33.6px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #3A3D40;
}
.cards{
    width: 882px;
    height: 560px;
    margin: auto;
    margin-top: 48px !important;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
.cards_left{
    width: 429px;
    height: 560px;
    border-radius: 10px;
    background: #F9F9F9;
    display: flex;
    flex-direction: column;
}

.cards_heading{
    width: 405px;
height: 150px;
top: 254px;
left: 291px;
border-radius: 10px;
background: #FFFFFF;
margin: 12px 12px 0 12px;
display: flex;
text-align: center;
align-items: center;
gap: 29px;
}

.text_container{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 405px;
    height: 150px;
    border-radius: 10px
}

.cards_head{
    font-family: Gilroy;
font-size: 24px;
font-weight: 700;
line-height: 28.8px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

.cards_descriptionn{
    font-family: Gilroy;
font-size: 16px;
font-weight: 500;
line-height: 19.2px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

.cards_right{
    width: 429px;
    height: 560px;
    border-radius: 10px;
    background: #F9F9F9;
}

.text_container_right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 12px;
    margin-left: 36px;
    width: 405px;
    height: 150px;
    border-radius: 10px;
}
.eccoImage{
    width: 69px;
    height: 110px;
    margin-left: 36px;
}

.items_container{
    margin: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}

.img_description{
 display: flex;
 align-items: center;
padding: 12px 24px 12px 24px;
border-radius: 32px;
background: #FFFFFF;
height: 68px;
gap: 8px;

}

.like{
    width: 20px;
    height: 20px;
    margin-top: -15px;
}

.items{
font-family: Gilroy;
font-size: 16px;
font-weight: 500;
line-height: 21.6px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}