.main {
  margin-top: 100px;
  width: 100%;
  background-color: #f9f9f9;
  padding: 78px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.touch__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:32px
}
.content {
  padding: 59px 100px 37px 101px;
  border-radius: 24px;
  background-color: #c0ed53;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 570px;
  & h1 {
    font-family: Gilroy;
    font-size: 50px;
    font-weight: 500;
    line-height: 52.5px;
    text-align: center;
    color: #3a3d40;
    margin: 0;
  }
  & span {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.6px;
    text-align: center;
    color: #3a3d40;
  }
}

.under {
  text-decoration: underline;
}
.block__btn {
  text-align: left;
  & button {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    top: 429px;
    left: 24px;
    padding: 12px 20px 12px 20px;
    gap: 4px;
    border-radius: 8px;
    border: none;
    background-color: #0e4a26;
    color: #f5e514;
    transition-duration: 0.3s;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
    &:active {
      background-color: #0e381f;
    }
  }
}
@media (max-width: 560px) {
  .main {
    padding: 64px 0px;
  }
  .content {
    padding: 59px 24px 37px 24px;
    width: 100%;
    & h1 {
      font-size: 32px;
      line-height: 36.6px;
    }
    & span {
      font-size: 14px;
      line-height: 18.9px;
    }
  }
}
