.education_section {
  display: flex;
  background-color: #f9f9f9;
  border-radius: 24px;
  padding: 48px 48px 48px 48px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  & h3 {
    margin: 0;
    font-family: Gilroy;
    font-size: 50px;
    font-weight: 500;
    line-height: 52.5px;
    text-align: center;
    color: #3a3d40;
  }
  & span {
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: #3a3d40;
  }
}
.content {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-bottom: 100px;
}
.retailers {
  margin-top: 100px;
  width: 201px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px 12px 24px;
  gap: 8px;
  border-radius: 32px;
  background-color: #ffffff;
  & span {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 500;
    line-height: 18.9px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.block__btn {
  text-align: left;
  & div {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    top: 429px;
    left: 24px;
    padding: 12px 20px 12px 20px;
    gap: 4px;
    border-radius: 8px;
    border: none;
    background-color: #0e4a26;
    color: #f5e514;
    transition-duration: 0.3s;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
    &:active {
      background-color: #0e381f;
    }
  }
}

.img__div {
  width: 894px;
  height: 479px;
}
@media (max-width: 560px) {
  .content {
    width: 100%;
  }
  .education_section {
    padding: 24px 24px 0 24px;
    height: 591px;
    & h3 {
      font-size: 24px;
      line-height: 25.2px;
    }
    & span {
      font-size: 16px;
      line-height: 21.6px;
    }
  }
  .img__div {
    width: 100%;
    height: auto;
  }
}
