.main {
  height: 1024px;
  background-image: url("../../assets/images/header.jpg");
  background-size: cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.heading {
  width: 472px;
  height: 964px;
  background-color: #ffffff;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 30px 40px;
  border-radius: 24px;
}

.logo {
  width: 59px;
  height: 93px;
  background-image: url("../../assets/images/Seal.svg");
  background-size: cover;
  background-position: center;
}
.head {
  width: 300px;
  height: 262px;
  margin-top: 31px;
  text-align: left;
  & span {
    font-size: 64px;
    font-weight: 500;
    color: #3a3d40;
    line-height: 67.2px;
    font-family: Gilroy;
  }
}

.green_sp {
  color: #58903e !important;
  text-align: left;
}
.desc {
  width: 442px;
  height: 128px;
  margin-top: 24px;
  text-align: left;
  & span {
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 500;
    color: #3a3d40;
    line-height: 32.4px;
  }
}

.items {
  margin-top: 24px;
  display: flex;
  gap: 8px;
  overflow: hidden;
}
.itemsContenier{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #F9F9F9;
  width: auto;
  height: auto;
  border-radius: 32px;
  flex-shrink: 0;
  animation: slide 40s linear infinite;
  animation-direction: alternate-reverse;
}
.second {
  animation-delay: -40s;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% + 472px));
  }
}
@media (max-width: 560px) {
  .second {
    animation-delay: -20s;
  }
  .itemsContenier{
    animation-duration: 20s;
  }
  @keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100vh + 80px + 472px));
  }
}
  .main {
    flex-direction: column-reverse;
    height: calc(100vh - 80px);
  }
  .heading {
    width: 100%;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 24px;
    padding: 0;
    overflow: hidden;
  }
  .logo {
    width: 52px;
    height: 82px;
    margin-top: 16px;
    margin-left: 16px;
  }
  .head {
    margin-left: 16px;
    height: auto;
    & span {
      font-size: 40px;
      line-height: 42px;
    }
  }
  .desc {
    margin-left: 16px;
    width: fit-content;
    height: fit-content;
    & span {
      font-size: 20px;
      line-height: 27px;
    }
  }
  .items {
    width: 543px;
    height: auto;
    justify-content: center;
    transform: translateX(-56px);
    margin-bottom: 24px;
  }
}
