.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  z-index: 100;
}

.logo img {
  height: 40px;
  object-fit: contain;
}

.menu {
    
    display: flex;
    flex: 1 1;
    list-style: none;
    align-items: center;
    padding: 8px;
    justify-content: space-between;
    border-radius: 12px;
    border: 1px solid #F9F9F9;
    background: #ffffff;
    max-width: 714px;
}

.menu li {
  cursor: pointer;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.6px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.donateButton {
  background-color: #004d00;
  color: #F5E514;
  padding: 12px 29.5px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  & button{
    color: #F5E514;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.6px;
    background-color: #004d00;
    border: none;
  }
}

.mobileMenuToggle {
  display: block;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
}

.mobileSidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 200;
}

.mobileMenu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mobileMenu li {
  font-size: 18px;
  cursor: pointer;
}

.dropdownTrigger {
  position: relative;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  font-size: 12px;
  margin-left: 10px;
  transition: all 0.3s;
  transform-origin: center center;
}
.arrow.rotate {
  transform: rotate(180deg);
}

.mobileDropdown {
  position: absolute;
  width: 125px;
  height: 110px;
  top: 55px;
  left: -12px;
  padding: 16px 24px 16px 24px;
  list-style: none;
  display: flex;
  z-index: 100;
  gap: 10px;
  border-radius: 12px;
  background: #ffffff;
  border: 1px solid #f9f9f9;
  align-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
.mobileDropdownTwo {
  position: absolute;
  width: 140px;
  height: 110px;
  top: 55px;
  left: -30px;
  padding: 16px 24px 16px 24px;
  list-style: none;
  display: flex;
  z-index: 100;
  gap: 10px;
  border-radius: 12px;
  background: #ffffff;
  border: 1px solid #f9f9f9;
  align-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
.button {
  background:none;
  font-size: 16px;
  line-height: 21.5px;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}
.button.active{
  background: #F9F9F0;
}
@media (max-width: 768px) {
  .hidMobile {
    display: none;
  }
  .menu {
    display: none;
  } 
  .donateButton button{
    width: Fixed (115px)px;
    height: Fixed (46px)px;
    top: 8px;
    left: 591px;
    padding: 12px 20px 12px 20px;
    gap: 4px;
    border-radius: 8px;
    border: 1px;
    background-color: #004d00;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    color:  #F5E514;
  }
 .mobileMenuToggle {
    display: block;
  }

  .menuOpen {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
