.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul.lst-kix_ifvsc7tl0avb-3 {
  list-style-type: none
}

ul.lst-kix_ifvsc7tl0avb-2 {
  list-style-type: none
}

ul.lst-kix_ifvsc7tl0avb-5 {
  list-style-type: none
}

ul.lst-kix_ifvsc7tl0avb-4 {
  list-style-type: none
}

ul.lst-kix_ifvsc7tl0avb-1 {
  list-style-type: none
}

ul.lst-kix_ifvsc7tl0avb-0 {
  list-style-type: none
}

ul.lst-kix_wm5lyu7bzjck-6 {
  list-style-type: none
}

ul.lst-kix_wm5lyu7bzjck-5 {
  list-style-type: none
}

ul.lst-kix_wm5lyu7bzjck-8 {
  list-style-type: none
}

ul.lst-kix_wm5lyu7bzjck-7 {
  list-style-type: none
}

ul.lst-kix_ifvsc7tl0avb-7 {
  list-style-type: none
}

ul.lst-kix_ifvsc7tl0avb-6 {
  list-style-type: none
}

ul.lst-kix_ifvsc7tl0avb-8 {
  list-style-type: none
}

ul.lst-kix_wm5lyu7bzjck-0 {
  list-style-type: none
}

ul.lst-kix_wm5lyu7bzjck-2 {
  list-style-type: none
}

ul.lst-kix_wm5lyu7bzjck-1 {
  list-style-type: none
}

ul.lst-kix_wm5lyu7bzjck-4 {
  list-style-type: none
}

ul.lst-kix_wm5lyu7bzjck-3 {
  list-style-type: none
}

.lst-kix_18wfcy1y5y9e-8>li:before {
  content: "\0025a0   "
}

.lst-kix_18wfcy1y5y9e-5>li:before {
  content: "\0025a0   "
}

.lst-kix_18wfcy1y5y9e-7>li:before {
  content: "\0025cb   "
}

.lst-kix_18wfcy1y5y9e-6>li:before {
  content: "\0025cf   "
}

.lst-kix_ifvsc7tl0avb-0>li:before {
  content: "\0025cf   "
}

.lst-kix_ifvsc7tl0avb-1>li:before {
  content: "\0025cb   "
}

.lst-kix_ifvsc7tl0avb-7>li:before {
  content: "\0025cb   "
}

.lst-kix_ifvsc7tl0avb-8>li:before {
  content: "\0025a0   "
}

.lst-kix_ifvsc7tl0avb-4>li:before {
  content: "\0025cb   "
}

.lst-kix_ifvsc7tl0avb-3>li:before {
  content: "\0025cf   "
}

.lst-kix_ifvsc7tl0avb-5>li:before {
  content: "\0025a0   "
}

.lst-kix_ifvsc7tl0avb-2>li:before {
  content: "\0025a0   "
}

.lst-kix_ifvsc7tl0avb-6>li:before {
  content: "\0025cf   "
}

.lst-kix_29k7wgvvkfv6-6>li:before {
  content: "\0025cf   "
}

.lst-kix_29k7wgvvkfv6-5>li:before {
  content: "\0025a0   "
}

.lst-kix_29k7wgvvkfv6-7>li:before {
  content: "\0025cb   "
}

.lst-kix_412rim7gf3i0-8>li:before {
  content: "\0025a0   "
}

.lst-kix_w4q7wptib9vw-0>li:before {
  content: "\0025cf   "
}

.lst-kix_w4q7wptib9vw-1>li:before {
  content: "\0025cb   "
}

.lst-kix_412rim7gf3i0-6>li:before {
  content: "\0025cf   "
}

.lst-kix_29k7wgvvkfv6-1>li:before {
  content: "\0025cb   "
}

.lst-kix_412rim7gf3i0-5>li:before {
  content: "\0025a0   "
}

.lst-kix_412rim7gf3i0-7>li:before {
  content: "\0025cb   "
}

.lst-kix_29k7wgvvkfv6-0>li:before {
  content: "\0025cf   "
}

.lst-kix_29k7wgvvkfv6-8>li:before {
  content: "\0025a0   "
}

.lst-kix_412rim7gf3i0-2>li:before {
  content: "\0025a0   "
}

.lst-kix_412rim7gf3i0-1>li:before {
  content: "\0025cb   "
}

.lst-kix_412rim7gf3i0-3>li:before {
  content: "\0025cf   "
}

.lst-kix_w4q7wptib9vw-7>li:before {
  content: "\0025cb   "
}

ul.lst-kix_18wfcy1y5y9e-0 {
  list-style-type: none
}

.lst-kix_412rim7gf3i0-0>li:before {
  content: "\0025cf   "
}

.lst-kix_412rim7gf3i0-4>li:before {
  content: "\0025cb   "
}

ul.lst-kix_18wfcy1y5y9e-1 {
  list-style-type: none
}

.lst-kix_w4q7wptib9vw-8>li:before {
  content: "\0025a0   "
}

ul.lst-kix_18wfcy1y5y9e-2 {
  list-style-type: none
}

ul.lst-kix_18wfcy1y5y9e-3 {
  list-style-type: none
}

ul.lst-kix_18wfcy1y5y9e-4 {
  list-style-type: none
}

.lst-kix_29k7wgvvkfv6-2>li:before {
  content: "\0025a0   "
}

ul.lst-kix_18wfcy1y5y9e-5 {
  list-style-type: none
}

ul.lst-kix_18wfcy1y5y9e-6 {
  list-style-type: none
}

.lst-kix_29k7wgvvkfv6-3>li:before {
  content: "\0025cf   "
}

ul.lst-kix_18wfcy1y5y9e-7 {
  list-style-type: none
}

ul.lst-kix_18wfcy1y5y9e-8 {
  list-style-type: none
}

.lst-kix_29k7wgvvkfv6-4>li:before {
  content: "\0025cb   "
}

ul.lst-kix_29k7wgvvkfv6-4 {
  list-style-type: none
}

.lst-kix_gcpj968iz1ma-8>li:before {
  content: "\0025a0   "
}

ul.lst-kix_29k7wgvvkfv6-3 {
  list-style-type: none
}

ul.lst-kix_29k7wgvvkfv6-6 {
  list-style-type: none
}

.lst-kix_gcpj968iz1ma-7>li:before {
  content: "\0025cb   "
}

ul.lst-kix_29k7wgvvkfv6-5 {
  list-style-type: none
}

ul.lst-kix_29k7wgvvkfv6-8 {
  list-style-type: none
}

.lst-kix_gcpj968iz1ma-6>li:before {
  content: "\0025cf   "
}

ul.lst-kix_29k7wgvvkfv6-7 {
  list-style-type: none
}

.lst-kix_wm5lyu7bzjck-8>li:before {
  content: "\0025a0   "
}

ul.lst-kix_gcpj968iz1ma-0 {
  list-style-type: none
}

ul.lst-kix_gcpj968iz1ma-1 {
  list-style-type: none
}

.lst-kix_w4q7wptib9vw-6>li:before {
  content: "\0025cf   "
}

ul.lst-kix_gcpj968iz1ma-2 {
  list-style-type: none
}

ul.lst-kix_gcpj968iz1ma-3 {
  list-style-type: none
}

ul.lst-kix_412rim7gf3i0-8 {
  list-style-type: none
}

.lst-kix_w4q7wptib9vw-5>li:before {
  content: "\0025a0   "
}

ul.lst-kix_gcpj968iz1ma-4 {
  list-style-type: none
}

ul.lst-kix_gcpj968iz1ma-5 {
  list-style-type: none
}

ul.lst-kix_412rim7gf3i0-6 {
  list-style-type: none
}

.lst-kix_w4q7wptib9vw-4>li:before {
  content: "\0025cb   "
}

ul.lst-kix_gcpj968iz1ma-6 {
  list-style-type: none
}

ul.lst-kix_412rim7gf3i0-7 {
  list-style-type: none
}

ul.lst-kix_gcpj968iz1ma-7 {
  list-style-type: none
}

ul.lst-kix_412rim7gf3i0-4 {
  list-style-type: none
}

ul.lst-kix_gcpj968iz1ma-8 {
  list-style-type: none
}

ul.lst-kix_412rim7gf3i0-5 {
  list-style-type: none
}

ul.lst-kix_412rim7gf3i0-2 {
  list-style-type: none
}

ul.lst-kix_412rim7gf3i0-3 {
  list-style-type: none
}

.lst-kix_w4q7wptib9vw-2>li:before {
  content: "\0025a0   "
}

.lst-kix_w4q7wptib9vw-3>li:before {
  content: "\0025cf   "
}

ul.lst-kix_412rim7gf3i0-0 {
  list-style-type: none
}

ul.lst-kix_412rim7gf3i0-1 {
  list-style-type: none
}

.lst-kix_18wfcy1y5y9e-1>li:before {
  content: "\0025cb   "
}

.lst-kix_18wfcy1y5y9e-0>li:before {
  content: "\0025cf   "
}

.lst-kix_18wfcy1y5y9e-4>li:before {
  content: "\0025cb   "
}

.lst-kix_18wfcy1y5y9e-3>li:before {
  content: "\0025cf   "
}

.lst-kix_18wfcy1y5y9e-2>li:before {
  content: "\0025a0   "
}

.lst-kix_gcpj968iz1ma-1>li:before {
  content: "\0025cb   "
}

.lst-kix_gcpj968iz1ma-2>li:before {
  content: "\0025a0   "
}

.lst-kix_wm5lyu7bzjck-4>li:before {
  content: "\0025cb   "
}

.lst-kix_gcpj968iz1ma-4>li:before {
  content: "\0025cb   "
}

.lst-kix_wm5lyu7bzjck-5>li:before {
  content: "\0025a0   "
}

.lst-kix_wm5lyu7bzjck-6>li:before {
  content: "\0025cf   "
}

.lst-kix_gcpj968iz1ma-3>li:before {
  content: "\0025cf   "
}

.lst-kix_gcpj968iz1ma-5>li:before {
  content: "\0025a0   "
}

ul.lst-kix_29k7wgvvkfv6-0 {
  list-style-type: none
}

.lst-kix_wm5lyu7bzjck-7>li:before {
  content: "\0025cb   "
}

ul.lst-kix_29k7wgvvkfv6-2 {
  list-style-type: none
}

ul.lst-kix_29k7wgvvkfv6-1 {
  list-style-type: none
}

ul.lst-kix_w4q7wptib9vw-3 {
  list-style-type: none
}

ul.lst-kix_w4q7wptib9vw-2 {
  list-style-type: none
}

ul.lst-kix_w4q7wptib9vw-1 {
  list-style-type: none
}

ul.lst-kix_w4q7wptib9vw-0 {
  list-style-type: none
}

ul.lst-kix_w4q7wptib9vw-7 {
  list-style-type: none
}

ul.lst-kix_w4q7wptib9vw-6 {
  list-style-type: none
}

.lst-kix_wm5lyu7bzjck-3>li:before {
  content: "\0025cf   "
}

li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt
}

ul.lst-kix_w4q7wptib9vw-5 {
  list-style-type: none
}

ul.lst-kix_w4q7wptib9vw-4 {
  list-style-type: none
}

.lst-kix_gcpj968iz1ma-0>li:before {
  content: "\0025cf   "
}

.lst-kix_wm5lyu7bzjck-1>li:before {
  content: "\0025cb   "
}

.lst-kix_wm5lyu7bzjck-2>li:before {
  content: "\0025a0   "
}

ul.lst-kix_w4q7wptib9vw-8 {
  list-style-type: none
}

.lst-kix_wm5lyu7bzjck-0>li:before {
  content: "\0025cf   "
}

ol {
  margin: 0;
  padding: 0
}

table td,
table th {
  padding: 0
}

.c4 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt
}

.c1 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c0 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c9 {
  padding-top: 14pt;
  padding-bottom: 4pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center
}

.c8 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  font-family: "Arial";
  font-style: normal
}

.c2 {
  padding-top: 12pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c7 {
  padding-top: 12pt;
  padding-bottom: 2pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c10 {
  background-color: #ffffff;
  max-width: 468pt;
  padding: 72pt 72pt 72pt 72pt
}

.c5 {
  margin-left: 36pt;
  padding-left: 0pt
}

.c3 {
  padding: 0;
  margin: 0
}

.c6 {
  font-weight: 700
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}