@import "/src/assets/fonts/fonts.css";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Gilroy" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  width: 1320px;
  margin: 0 auto;
}
@media (max-width: 560px) {
  .container {
    width: auto;
    padding: 0 20px;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}